@page
@model GMTasker.RazorPages.Pages.IndexOld
@using System.Globalization

<h1>GM</h1>

<h1>Olá, @Model.UsuarioModel.nome</h1>
<h2>Bem vindo de volta!</h2>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="info">
    <p><strong>Nome: </strong> @Model.UsuarioModel.nome </p>
    <p><strong>Sobrenome: </strong> @Model.UsuarioModel.cpf </p>
    <p><strong>CPF: </strong> @Model.UsuarioModel.telefone </p>
    <p><strong>Email: </strong> @Model.UsuarioModel.email </p>
    <a class="btn btn-sm btn-secondary active" asp-page="./Edit" asp-route-id="@Model.UsuarioModel.id_usuario"> <i class="fa fa-pencil"></i>  </a>
    <a class="btn btn-secondary btn-sm btn-danger" asp-page="./Delete" asp-route-id="@Model.UsuarioModel.id_usuario"> <i class="fa fa-trash"></i> </a>
</div>

<style>

    main{
        
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .info{
        width: 60vw;
        text-align: left;
        background-color: rgb(201, 201, 201);
        padding: 10px;
        border-radius: 5px;
    }
</style>