@page "{id:int}"
@model GMTasker.RazorPages.Pages.Requisicao.Index

<h1>Usuario Cadastrados</h1>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<div class="info">
    <div align="center">
    </div>
    <table class="table table-bordered table-sm table-hover-custom">
        <thead>
            <tr>
                <td scope="col">ID</td>
                <td scope="col">Nome</td>
                <td scope="col">Usuario Responsável</td>
                <td scope="col">Solicitante</td>
                <td scope="col">Sprint</td>
                <td scope="col">Data Prevista</td>
                <td scope="col">Data de Conclusão</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var RequisicaoModel in Model.RequisicaoList.OrderBy(g => g.data_prevista_conclusao))
            {
                var data = Html.DisplayFor(model => RequisicaoModel!.data_conclusao);
                <tr>
                    <td>@Html.DisplayFor(model => RequisicaoModel.id_requisicao)</td>
                    <td>@Html.DisplayFor(model => RequisicaoModel.nome)</td>
                    <td>@Html.DisplayFor(model => RequisicaoModel!.UsuarioResponsavel!.nome)</td>
                    <td>@Html.DisplayFor(model => RequisicaoModel!.Usuario!.nome)</td>
                    <td>@Html.DisplayFor(model => RequisicaoModel!.Sprint!.nome)</td>
                    <td>@Html.DisplayFor(model => RequisicaoModel!.data_prevista_conclusao!)</td>
                    <td>@Html.DisplayFor(model => RequisicaoModel!.data_conclusao!)</td>
                    <td>
                        <a class="btn btn-sm btn-secondary active" asp-page="./Edit" asp-route-id="@RequisicaoModel.id_requisicao"> <i class="fa fa-pencil"></i>  </a>
                        <a class="btn btn-secondary btn-sm btn-success" asp-page="./Details" asp-route-id="@RequisicaoModel.id_requisicao"> <i class="fa fa-eye"></i> </a>
                        <a class="btn btn-secondary btn-sm btn-danger" asp-page="./Delete" asp-route-id="@RequisicaoModel.id_requisicao"> <i class="fa fa-trash"></i> </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
<p style="text-align:center"><a class="btn btn-primary" role="button" asp-page="./Create"> <strong>Cadastrar</strong></a></p>
</div>


<style>

    main{
        
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .info{
        width: 60vw;
        text-align: left;
        background-color: rgb(201, 201, 201);
        padding: 10px;
        border-radius: 5px;
    }
</style>